body #root {
  width: 94%;
  margin: 0 auto;
}

.currency {  
  width: 335px;
  height: 70px;
  margin: 1px 1px;
  border: 1px solid rgba(226, 236, 245, 0.68);
  border-radius: 10px;
  padding: 10px;
}

.imgdiv {
  height: 95%;
}
.imgdiv img {
  height: 100%;
  display: block;
  margin: auto;
}

.profit {
  height: 300px;
  border: 1px solid grey;
  border-radius: 10px;
  text-align: center;
}

.items {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.items a {
  color: rgb(255, 255, 255);
}

.items a:hover,
  .items a:active,
  .items a.active {
    background-color: rgba(226, 236, 245, 0.34);
  }

.all {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
}

.profitcontent{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 10px;
  width: 358px;
}

@media (min-width: 500px) {
  .items {
      flex-direction: row;
  }
  .profitcontent{
    width: auto;
  }
  .currency{
    width: 28.5vw;
    height: 6vw;
  }
}

.profittable{
  margin: auto;
}

.profittable td{
  text-align: center;
  border: 1px solid rgb(226, 236, 245);;
  padding: 17px;  
}

.currhead{
  font-weight: bold;
}